body {
    color: black;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}

/* slider */
#splash div {
    -moz-border-radius:5px;-webkit-border-radius:5px;
    background-color:rgba(0,0,0,0.5);
    border-radius:5px;
    bottom:0;
    margin: 20px;
    padding:15px;
    position:absolute;
    z-index:10;
}

#splash h2 {
    font-size:14px;
    margin-bottom:5px;
}

#splash strong {
    color:#f2f2f2;
    font-size:18px;
    line-height:20px;
    text-shadow:none;
}

#splash p {
    color:#f2f2f2;

    font-size:14px;
    line-height:16px;
    margin:0!important;
    text-shadow:none;}

#splash {
    margin: 0px;
}

.slider-cont {

}

#splash img {
    border-left: 1px solid black;
}
/**/

.znak {

}

.logo-footer {
    padding-bottom: 5px;
    width: 40%;
    padding-left: 60%;
}

.adress {
    font-size: 12px;
    line-height: 15px;
}

.adress-border {

    padding-top: 10px;
    margin-top: 25px;
    border: 1px dashed black;
}

.footer-phone {
    background: #08c;
    color: white;
    border-bottom: 1px dashed white;
}

.adres {
    padding-top: 5px;
    line-height: 14px;
    font-size: 11px;
}

.adres strong {
    font-size: 14px;
}

.options {
    color: red;
    font-weight: bold;
}

.triple {
    border-bottom: 5px solid #ffcd11;
}

.triple::before, .triple::after {
    display: table;
    content: "";
    line-height: 0;
}

.triple::after {
    clear: both;
}

.triple-div {
    width: 33.333333%;
    display: block;
    box-sizing: border-box;
    float: left;
    background-color: #333;
    color: #f2f2f2;
}


.triple-div:hover {
    color: black;
    background: #ffcd11;
}


.triple-border {
    border-left: 1px solid #f2f2f2;
}

.nav-metall-a {
    font-size: 17px;

}

.nav-metall {
    border-bottom: 1px dashed #08c;
}

.metall {
    padding-top: 15px;
}

#myTab li a {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

#myTab > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

#myTab > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #f2f2f2;
    background-color: #333333;
    border: 1px solid #DDD;
    border-bottom-color: transparent;
    cursor: default;
}

.taba {
    color: black;
}

#myTab > .active {

}

.top-margin {

    margin-top: 20px;
}

.top-ico {
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.footer-border {
}

.top-phone {
    font-size: 35px;
    font-weight: bold;
    line-height: 37px;
}

.partner-sign {
    height: 50px;
    padding: 5px;
}

.top-cont {
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 5px solid #FFCD11;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-image: url(../img/call-center-agent.png);
    background-position: right bottom;

}

.top-img {
    display:block;
    margin:0 auto;
    height: 85px;
}

.top-img-house {
    height: 60px;
}

.logo-top {
    margin-left: 10px;
    height: 130px;
}

footer {
    color: #f2f2f2;
    background-color: #333333;
    background-image: url(../img/bg-logo.png);
}