<div class="page-header shadow">
  <h2>
    {{catTitle}}
  </h2>
  {{{catContent}}}
</div>
<ul class="breadcrumb">
  {{#tags}}
  <li><a href="#!/categorytag/{{../catName}}/{{.}}">{{.}}</a> <span class="divider">/</span></li>
  {{/tags}}
</ul>
<div>
  <!--  <a class="cream" href="#/category/{{catName}}?sort=1"><h4>По убыванию </a>
	<a class="cream" href="#!/category/{{catName}}">По возрастанию</h4></a> -->
  <div class="admin-only"><h4><a class="cream" href="#/edit_category/{{catId}}">Редактировать раздел</a></h4>
    <h4><a class="cream" href="#/delcategory/{{catName}}">Удалить раздел</a></h4>
  </div>

  <table class="table table-striped table-condensed">
    <thead>
      <tr>
	<th>Наименование</th>
	<th>Описание</th>
	<th>Цена</th>
	<th>Метки</th>
      </tr>
    </thead>
    <tbody>


      {{#items}}
      <tr>
	<td>
	  {{ title }}
	</td>
	<td>
	  {{ description }}
	</td>
	<td>
	  {{ cost }}
	</td>
	<td>
	  {{#tags}}
	  <a href="#!/categorytag/{{../category}}/{{.}}">{{.}}</a>
	  {{/tags}}
	</td>
	<td>
	  <a class="admin-only btn-small btn btn-info" href="#/edit/{{ _id }}">
	    <i class="icon-edit" ></i>
	  </a>
	  <a class="admin-only btn-small btn btn-warning" href="#/deleteitem/{{category}}/{{ _id }}">
	    <i class="icon-trash" ></i>
	  </a>
	</td>
      </tr>
      {{/items}}

    </tbody>
  </table>
