{{#maincats}}

<h5><a class="subCat-h5" data-toggle="collapse-next" title="{{Page}}">{{subCat}}</a></h5>

<div class="collapse">
{{#cats}}

<li id="cat_{{ catName }}">
  <a href="#!/category/{{ catName }}/tag/*/page/0">
    <i class="icon-chevron-right"></i>
    {{ catTitle }}
  </a>
</li>

{{/cats}}
</div>
{{/maincats}}

<script>
  $('body').on('click.collapse-next.data-api', '[data-toggle=collapse-next]', function() {
  $(this).parent().next().collapse('show');
  });
</script>
