<div class="shadow">
  <h3>
    {{catTitle}} (Описание товара)
  </h3>
  {{{catContent}}}
</div>
<hr></hr>
<h3>
Наличие на складе
</h3>

<ul id="cat"  class="breadcrumb">
  <li>
    <a class="tags-hover active-tag" href="#!/category/{{catName}}/tag/*/page/0">всё</a>
    <span class="divider">/</span></li>
  {{#tags}}
  <li>
    <a class="tags-hover" id="tag_{{.}}" href="#!/category/{{../catName}}/tag/{{.}}/page/0">{{.}}</a>
    <span class="divider">/</span></li>
  {{/tags}}
</ul>

<div>

<div class="pagination">
  <ul>
    {{#prevPage}}
    <li><a href="#!/category/{{../catName}}/tag/{{../tag}}/page/{{../prevPage}}">Предыдущая {{../prevPage}}</a></li>
    {{/prevPage}}
    {{#nextPage}}
    <li><a href="#!/category/{{../catName}}/tag/{{../tag}}/page/{{../nextPage}}">Следующая {{../nextPage}}</a></li>
    {{/nextPage}}
  </ul>
</div>

  <!--  <a class="cream" href="#/category/{{catName}}?sort=1"><h4>По убыванию </a>
        <a class="cream" href="#!/category/{{catName}}">По возрастанию</h4></a> -->
<table class="table table-striped table-condensed">
    <thead>
      <tr>
	    <th>Наименование</th>
	    <th>Описание</th>
	    <th>Цена</th>
	    <th>Метки</th>
      </tr>
    </thead>
    <tbody>


      {{#items}}
      <tr>
	<td>
	  {{ title }}
	</td>
	<td>
	  {{ description }}
	</td>
	<td>
	  {{ cost }}
	</td>
	<td>
	  {{#tags}}
	  <a href="#!/categorytag/{{../category}}/{{.}}">{{.}}</a>
	  {{/tags}}
	</td>
	<td>
	  <a class="admin-only btn-small btn btn-info" href="#/edit/{{ _id }}">
	    <i class="icon-edit" ></i>
	  </a>
	  <a class="admin-only btn-small btn btn-warning" href="#/deleteitem/{{category}}/{{ _id }}">
	    <i class="icon-trash" ></i>
	  </a>
	</td>
      </tr>
      {{/items}}

    </tbody>
  </table>


<div class="pagination">
  <ul>
    {{#prevPage}}
    <li><a href="#!/category/{{../catName}}/tag/{{../tag}}/page/{{../prevPage}}">Предыдущая {{../prevPage}}</a></li>
    {{/prevPage}}
    {{#nextPage}}
    <li><a href="#!/category/{{../catName}}/tag/{{../tag}}/page/{{../nextPage}}">Следующая {{../nextPage}}</a></li>
    {{/nextPage}}
  </ul>
</div>


  <div class="admin-only"><h4><a class="cream" href="#/edit_category/{{catId}}">Редактировать раздел</a></h4>
    <h4><a class="cream" href="#/delcategory/{{catName}}">Удалить раздел</a></h4>
  </div>
