<tr>

  <td>
    {{ title }}
  </td>

  <td>
sdf
  </td>

  <td>
    {{ description }}
  </td>

  <td>
    {{ cost }}
  </td>
  <td>
    <a class="admin-only btn-small btn btn-info" href="#/edit/{{ _id }}">
      <i class="icon-wrench icon-large" ></i>
     </a>
    <a class="admin-only btn-small btn btn-warning" href="#/deleteitem/{{category}}/{{ _id }}">
      <i class="icon-cart icon-large" ></i>
      </a>
  </td>

</tr>
